<div class="row">
    <div ng-repeat="item in data | filter: newsFilter as filteredNews track by item.id" class="primary-news col-lg-6" style="margin-bottom:15px; padding:15px;">
        <img ng-src="{{ item.thumbnail_image | base64Src: item.thumbnail_media_type }}" width="100%" alt="{{ item.title }}">
        <h1>{{ item.title }}</h1>
        <h3>{{ item.subtitle }}</h3>
        <p>{{ item.category }}</p>
        <p>{{ item.abstract }}</p>
        <a ng-href="/article/{{ item.id }}">Read more...</a>
    </div>

    <div ng-show="filteredNews.length == 0 && loaded">
        <p>There are no news available for this category</p>
    </div>

    <div ng-show="!loaded">Loading...</div>
</div>

