<a class="btn" ng-href="/article/{{ data.id }}">&lt; back</a>
<div ng-show="loaded">
    <h1>Edit #{{ data.id }}</h1>
    <form name="editForm" ng-submit="save()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Title" ng-model="data.title"
                required>
            <div ng-messages="editForm.title.$error" ng-show="editForm.title.$touched">
                <div class="errorsLogin" ng-message="required">Title is required</div>
            </div>
        </div>
        <select id="inputState" name="category" class="form-control" ng-model="data.category" required>
            <option value="National">National</option>
            <option value="Technology">Technology</option>
            <option value="Economy">Economy</option>
            <option value="Sports">Sports</option>
        </select>
        <div ng-controller="UploadController" class="my-3">
            <img style="width: 300px;" ng-show="data.image_data" ng-src="{{ data.image_data | base64Src: data.image_media_type }}" />
            <input type="file" ng-file-select="onFileSelect($files);" ng-model="data">
        </div>
        <div class="form-group">
            <label for="subtitle">Subtitle</label>
            <input type="text" class="form-control" name="subtitle" id="subtitle" placeholder="Subtitle" ng-model="data.subtitle"
                required>
            <div ng-messages="editForm.subtitle.$error" ng-show="editForm.subtitle.$touched">
                <div class="errorsLogin" ng-message="required">Subtitle is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="abstract">Abstract</label>
            <textarea name="abstract" rows="4" class="form-control" id="abstract" placeholder="Abstract" ng-model="data.abstract"
                required></textarea>
            <div ng-messages="editForm.abstract.$error" ng-show="editForm.abstract.$touched">
                <div class="errorsLogin" ng-message="required">Abstract is required</div>
            </div>
        </div>
        <summernote height="400" name="body" ng-model="data.body" required></summernote>
        <div ng-messages="editForm.body.$error">
            <div class="errorsLogin" ng-message="required">The body of the news is required</div>
        </div>
        <button type="submit" class="btn btn-primary float-right mt-3 saveButtonForm" ng-disabled="editForm.$invalid">Save</button>
    </form>
</div>
