<!-- Code to browse the image file and binds the image to the scope variables "news.image_media_type" and "news.image_data" -->

<h1>Create</h1>
<form name="createForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" id="title" placeholder="Title" ng-model="data.title" required>
    <div ng-messages="createForm.title.$error" ng-show="createForm.title.$touched">
      <div class="errorsLogin" ng-message="required">Title is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="inputState" name="category" class="form-control" ng-model="data.category" required>
      <option value="National">National</option>
      <option value="Technology">Technology</option>
      <option value="Economy">Economy</option>
      <option value="Sports">Sports</option>
    </select>
  </div>
  <div ng-controller="UploadController" class="my-3">
    <img style="width:300px;" ng-src="{{ 'data:' + data.image_media_type + ';base64,' + data.image_data }}" />
    <input type="file" ng-file-select="onFileSelect($files);" ng-model="data"></input>
  </div>
  <div class="form-group">
    <label for="subtitle">Subtitle</label>
    <input type="text" class="form-control" name="subtitle" id="subtitle" placeholder="Subtitle" ng-model="data.subtitle" required>
    <div ng-messages="createForm.subtitle.$error" ng-show="createForm.subtitle.$touched">
      <div class="errorsLogin" ng-message="required">Subtitle is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="abstract">Abstract</label>
    <textarea name="abstract" rows="4" class="form-control" id="abstract" placeholder="Abstract" ng-model="data.abstract" required></textarea>
    <div ng-messages="createForm.abstract.$error" ng-show="createForm.abstract.$touched">
      <div class="errorsLogin" ng-message="required">Abstract is required</div>
    </div>
  </div>
  <label for="body">Body</label>
  <summernote height="400" name="body" ng-model="data.body" required></summernote>
  <div ng-messages="createForm.body.$error">
    <div class="errorsLogin" ng-message="required">The body of the news is required</div>
  </div>

  <button class="btn btn-primary float-right mt-3" ng-click="create()">Publish</button>
</form>

<toast></toast>
