<div class="row">
    <div ng-repeat="item in data | filter: {'category': categoryFilter}" class="primary-news col-md-6" style="margin-bottom:15px; padding:15px; border: 2px solid #ededed">
        <img src="data:{{ item.thumbnail_media_type }};base64, {{ item.thumbnail_image }}" width="100%" alt="news-main">
        <h1>{{ item.title }}</h1>
        <h3>{{ item.subtitle }}</h3>
        <p>{{ item.category }}</p>
        <p>{{ item.abstract }}</p>
        <a href="/news/{{ item.id }}">Read more...</a>
    </div>
</div>

