<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">The News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav d-sm-block d-md-none" id="navCategoryFilterMobile">
                <li news-navlink class="nav-item" route="'/'">All news</li>
                <li news-navlink class="nav-item" route="'/category/national'">National</li>
                <li news-navlink class="nav-item" route="'/category/economy'">Economy</li>
                <li news-navlink class="nav-item" route="'/category/sports'">Sports</li>
                <li news-navlink class="nav-item" route="'/category/technology'">Technology</li>
                <li class="nav-item"><a class="btn btn-success my-2 my-md-0 mr-md-2" ng-if="loggedInUser" href="/create">Create news</a></li>
            </ul>
            <form class="form-inline ml-auto mr-md-2" ng-submit="searchSubmit()">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" ng-model="newsSearch">
                    <div class="input-group-append"><button type="submit" class="btn btn-sm"><i class="fas fa-search"></i></button></div>
                </div>
            </form>
            <button class="btn btn-outline-light my-2 my-md-0 mr-md-2" id="login-button" data-toggle="modal"
                data-target="#loginModal" ng-if="!loggedInUser">Login</button>
            <div class="btn-group" role="group" ng-if="loggedInUser">
                <button id="btnGroupLogout" class="btn btn-outline-light dropdown-toggle my-2 my-sm-0 mr-sm-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ loggedInUser.username }}</button>
                <div class="dropdown-menu" aria-labelledby="btnGroupLogout">
                    <a class="dropdown-item" href="javascript:void();" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-default navbar-fixed-top navbar-light d-none d-md-block">
    <div class="container">
        <ul class="navbar-nav navbar-collapse collapse" id="navCategoryFilter">
            <li news-navlink class="nav-item" route="'/'">All news</li>
            <li news-navlink class="nav-item" route="'/category/national'">National</li>
            <li news-navlink class="nav-item" route="'/category/economy'">Economy</li>
            <li news-navlink class="nav-item" route="'/category/sports'">Sports</li>
            <li news-navlink class="nav-item" route="'/category/technology'">Technology</li>
        </ul>
        <a class="btn btn-success my-2 my-sm-0 mr-sm-2" ng-if="loggedInUser" href="/create">Create news</a>
    </div>
</nav>