body {
    margin-top: 60px;
}

.ng-toast__message {
    right: 20px;
    top: 60px;
    position: fixed;
}

.errorsLogin {
    color: red;
}

.saveButtonForm {
    margin-bottom: 15px;
}

.sidebar-module {
    border: 2px solid #ededed;
    padding: 15px;
}
.sidebar-container {
    padding: 0;
}

.primary-news {
    margin-bottom: 15px;
    padding: 15px;
}

footer {
    margin-top: 20px;
}

.news-list__abstract {
    white-space: pre-line;
}
.news-detail__abstract {
    font-style: italic;
    font-size: 1.2rem;
    white-space: pre-line;
}
.news-detail__author {
    font-size: 0.9rem;
    color: #444444;
}
.news-form__thumbnail {
    max-width: 300px;
}